polkit.addRule(function(action, subject) {
    let actionIds = [
        "org.freedesktop.accounts.user-administration",
        "org.freedesktop.login1.power-off",
        "org.freedesktop.login1.reboot",
        "org.freedesktop.login1.suspend",
        "org.freedesktop.timedate1.set-timezone",
        "org.freedesktop.timedate1.set-time",
        "org.freedesktop.timedate1.set-ntp",
        "org.freedesktop.hostname1.set-hostname",
        "org.freedesktop.hostname1.set-static-hostname"
    ];
    if (subject.isInGroup("setup") && actionIds.includes(action.id)) {
        return polkit.Result.YES;
    }
});
